@font-face {
  font-family: "iconfont"; /* Project id 4044311 */
  src: url('iconfont.woff2?t=1721638942649') format('woff2'),
       url('iconfont.woff?t=1721638942649') format('woff'),
       url('iconfont.ttf?t=1721638942649') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-BTC:before {
  content: "\e761";
}

.icon-zhongqi:before {
  content: "\e75f";
}

.icon-guanji:before {
  content: "\e760";
}

.icon-licai:before {
  content: "\e600";
}

.icon-shandian:before {
  content: "\e8c5";
}

.icon-a-Miningspeed:before {
  content: "\e75d";
}

.icon-a-TotalWorkdone:before {
  content: "\e75e";
}

.icon-Twitter:before {
  content: "\e759";
}

.icon-wangzhan:before {
  content: "\e75a";
}

.icon-qianbao1:before {
  content: "\e75b";
}

.icon-youxiang:before {
  content: "\e75c";
}

.icon-anniuB:before {
  content: "\e756";
}

.icon-Wi-Fi:before {
  content: "\e757";
}

.icon-anniuA:before {
  content: "\e758";
}

.icon-tianjia:before {
  content: "\e624";
}

.icon-zhengque:before {
  content: "\e627";
}

.icon-wenhao:before {
  content: "\e671";
}

.icon-huanbang:before {
  content: "\e620";
}

.icon-order:before {
  content: "\e753";
}

.icon-Details:before {
  content: "\e754";
}

.icon-Game:before {
  content: "\e755";
}

.icon-dingdan:before {
  content: "\e8ae";
}

.icon-suoding:before {
  content: "\e62e";
}

.icon-BRC20:before {
  content: "\e750";
}

.icon-Runes:before {
  content: "\e751";
}

.icon-dc:before {
  content: "\e74e";
}

.icon-wancheng:before {
  content: "\e74f";
}

.icon-X:before {
  content: "\e74d";
}

.icon-a-Arrow-Down:before {
  content: "\e752";
}

.icon-shangsheng:before {
  content: "\e7dd";
}

.icon-shengyinguan:before {
  content: "\e745";
}

.icon-shengyinkai:before {
  content: "\e74b";
}

.icon-tuite:before {
  content: "\e74c";
}

.icon-telegram:before {
  content: "\e743";
}

.icon-shuaxin:before {
  content: "\e740";
}

.icon-zanting1:before {
  content: "\e746";
}

.icon-bofang1:before {
  content: "\e747";
}

.icon-Twitter1:before {
  content: "\e748";
}

.icon-DC1:before {
  content: "\e749";
}

.icon-FAQ1:before {
  content: "\e74a";
}

.icon-fanhui:before {
  content: "\e73f";
}

.icon-huodong1:before {
  content: "\e73e";
}

.icon-a-TickSquare:before {
  content: "\e744";
}

.icon-qianbao:before {
  content: "\e73d";
}

.icon-fuzhibeifen:before {
  content: "\e73c";
}

.icon-xiala:before {
  content: "\e736";
}

.icon-fuzhi:before {
  content: "\e738";
}

.icon-wode:before {
  content: "\e739";
}

.icon-profile:before {
  content: "\e73a";
}

.icon-dengchu:before {
  content: "\e73b";
}

