.home-wrapper-v3 {

  @media screen and (max-width: 540px) {
    .highlight-title {
      font-size: 24px;
      margin: 0;
      transform: translateY(0%);
      >p {
        margin: 0;
        padding: 60px 0;
      }
    }
    .sp-track-1 {
      width: 100%;
      height: auto;
      padding: 0 12px;
      .sp-screen-1 {
        padding: 40px 12px;
        text-align: center;
        border-radius: 14px;
        h1 {
          font-size: 32px;
        }
        h3 {
          font-size: 18px;
          margin-top: 24px;
          margin-bottom: 36px;
        }
        p {
          font-size: 16px;
        }
        .mask {
          display: none;
          border-radius: 14px;
          background: none;
        }
        .sp1-video,
        .sp1-video-2 {
          display: none;
          width: auto;
          height: 60%;
          top: auto;
          right: auto;
          bottom: 10%;
          left: 50%;
          transform: translateX(-50%);
        }
        .mobile-video-box {
          display: block;
          position: relative;
          height: 200px;
          margin-bottom: 12px;
        }
        .sp1-video-3 {
          opacity: 1;
          position: absolute;
          z-index: -2;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
        }
        .sp1-video-4 {
          opacity: 0;
          position: absolute;
          z-index: -3;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
        }
      }
    }
    .sp-track-5 {
      .sp-screen-5-content {
        .slider-box {
          width: 100%;
          top: 20%;
          left: 50%;
          transform: translateX(-50%) !important;
          .slider-row {
            gap: 12px;
            .slider-row-item {
              width:20%
            }
          }
          .slider-title {
            margin-top: 24px;
            .slider-title-item {
              width: 100%;
              text-align: center;
              h6 {
                font-size: 18px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
        .sp-screen-5-content-title {
          left: 50%;
          transform: translateX(-50%) !important;
          bottom: 20%;
          h5 {
            text-align: center;
            font-size: 18px;
          }
        }
        .sp5-video-box {
          >video {
          }
        }
      }
    }
    .sp-track-3 {
      width: 100%;
      .sp-screen-3 {
        width: 100%;
        padding: 0 24px;
        .text-box {
          width: 100%;
          .text-content {
            p {
              font-size: 16px;
            }
          }
        }
       
      }
    }
    .sp-track-2 {
      padding: 0 24px;
      margin-top: 62px;
      border-radius: 12px;
      .sp-screen-2 {
        border-radius: 12px;
        .sp2-video-mask {
          border-radius: 12px;
          .sp2-video-mask-btn {
            width: 72px;
            height: 72px;
            >img {
              width: 30px;
            }
          }
        }
        .sp2-video-box {
          border-radius: 12px;
          >video {
            border-radius: 12px;
          }
        }
      }
    }
    .sp-track-4 {
      .sp-screen-4 {
        .bitboy-preview {
          with: 320px;
          height: 320px;
        }
      }
    }
    .sp-track-6 {
      .sp-screen-6 {
        >img {
          width: 100vw;
        }
        .hardware-list {
          gap: 12px;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
    .faq-box {
      width: 100%;
      padding: 0 24px;
    }
  }

}