.common-highlight {
  color: var(--theme-color) !important;
}

.common-highlight-blur {
  color: var(--theme-color-blur) !important;
}

.common-flex-vertical-center {
  display: flex;
  align-items: center;
}

.common-flex-horizontal-center {
  display: flex;
  justify-content: center;
}

.common-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-flex-1 {
  flex: 1;
}

.common-text-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.common-pointer {
  cursor: pointer;
}

.common-hover-status-bg {
  transition: all .2s ease-in-out;
  &:hover {
    border-color: var(--theme-color) !important;
    background: var(--theme-color) !important;
  }
}

.common-hover-status-color {
  transition: all .2s ease-in-out;
  &:hover {
    color: var(--theme-color) !important;
  }
}

.common-hover-status-translate-y {
  transition: all .2s ease-in-out;
  &:hover {
    border-color: var(--theme-color) !important;
    transform: translateY(-6px) !important;
  }
}

.common-hover-status-color-opacity {
  transition: all .2s ease-in-out;
  &:hover {
    opacity: .8;
  }
}

.common-disabled {
}

.common-component-msg-box {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.65);
  font-size: 1rem;
  font-variant: tabular-nums;
  line-height: 1.4;
  list-style: none;
  font-feature-settings: "tnum";
  position: fixed;
  top: 24px;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;

  .common-component-msg-box-content {
    position: absolute;
    top: -40px;
    // display: none;
    padding: 10px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    pointer-events: all;
    opacity: 0;
    transition: all 0.4s ease;
    color: #FFF;
    background: #7cae4d;
    // background: var(--theme-color);
    font-size: 1rem;
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 6px;

    >span {
      color: #FFF;
      font-size: 1rem;
      margin-bottom: -1px;
    }

    &.show {
      // display: inline-block;
      opacity: 1;
      top: 0;
    }

    &.error {
      background: var(--error-color);
    }

  }
}

.common-hidden-opacity {
  opacity: 0;
}

.common-default-btn {
  font-family: var(--font-family-title);
  background: transparent;
  border: 1px solid #fff;
  padding: 12px 56px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1;
  border-radius: 22px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.common-module-title {
  width: 100%;
  // padding: 0 24px;
  margin-top: 120px;
  margin-bottom: 20px;

  h2 {
    font-family: var(--font-family-title);
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
  }


  .special-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-top: 14px;

    .module-subtitle {
      width: 504px;
      font-size: 1rem;
      line-height: 1.4;
    }
  }
}

.common-scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

.common-scrollbar-style {
  &::-webkit-scrollbar {
    width: 8px;  
    height: 6px;
    }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #808080;
    }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #404040;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-corner {
    // display: none;
    opacity: 0;
  }
}
.reset-scrollbar{
  &::-webkit-scrollbar {
    width: 6px; 
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-corner {
    // display: none;
    opacity: 0;
  }
}

@media screen and (max-width: 540px) {
  .common-default-btn {
    font-size: 1rem;
    padding: 12px 0;
    width: 100%;
  }
  .common-module-title {
    .special-desc {
      display: block;
      .module-subtitle {
        width: 100%;
      }
      >button {
        margin-top: 20px;
      }
    }
  }
}
